
.trigger-largeContent,
.trigger-large-gallery {
  font-size: 20px;
  color: white;
  width: 300px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

p {
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

.iziModal .iziModal-header-title , .iziModal-header-subtitle {
    font-family: Lato;
    font-weight: 100;
    font-size: 25px;
}

/* Swiper */

.swiper-slide img {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
